* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
:root {
  --darkBackground: #191919;
}
.dark-theme {
  --darkBackground: #e5d9d9d3;
}
html {
  font-size: 62.5%;
}

body {
  background: var(--darkBackground);

  position: relative;
  height: 100vh;
}
.theme-icon {
  position: absolute;
  width: 4rem;
  top: -5rem;
  right: 1rem;
}
.gellery {
  width: 90rem;
  display: flex;
  overflow-x: scroll;
}
.gellery div {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 2rem;
  padding: 1rem;
  flex: none;
}

.gellery div img {
  width: 100%;
  filter: grayscale(100%);
  transition: transform 0.5s;
}
.gellery::-webkit-scrollbar {
  display: none;
}

.gallery-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10% auto;
}
#backBtn,
#nextBtn {
  width: 5rem;
  cursor: pointer;
  margin: 4rem;
}

.gellery div img:hover {
  filter: grayscale(0);
  cursor: pointer;
  transform: scale(1.1);
}
